
#zoarly {
	color: #FFFFFF;
	text-decoration-color: #FFFFFF;
}
.style1 {
	color: #0255FF;
	text-decoration-color: #FFFFFF;
}
.style2 {
	color: #0255FF;
	text-decoration-color: #FFFFFF;
}
.style3 {
	color: #0255FF;
	text-decoration-color: #FFFFFF;
}


li #About3 #style3 {
}
.banner {
	top: 4%;
	padding-left: 430px;
	
	
}
header {
	background-image: url("images/1365613263.jpg");
	height: 400px;
	padding-top: 20%;
	position: relative;
	background-size: cover;
	
}
.items {
	padding-right: 250px;
	padding-left: 250px;
	text-align: center;
}
#hero {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #0255FF;
	font-size: 180px;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	padding-left: 190px;
}
#firs_image {
	left: 10px;
	right: 180%;
	margin-left: -200px;
	padding-bottom: 200px;
	margin-top: 1%;
}
ul {
	margin-top: 0%;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-left: 0px;
	width: 100%;
}
ul li {
	list-style: none;
	float: left;
	margin-right: auto;
	margin-top: 0px;
	font-family: "Source Sans Pro";
	font-weight: normal;
	color: #565656;
	text-decoration-color:#FFFFFF;
	letter-spacing: 0px;
	margin-left: 8%;
	text-align: center;
	width: 16%;
	transition: all 0.3s linear;
}
.secondary_header ul li:hover {
	color: #717070;
	cursor: pointer;
}
.backg {
	background-image: url("images/istockphoto-970136800-170667a.jpg");
	
}
.rojo {
background-color: #FF0004;
}

.verdeinferior {
background-color: #00FF0D;
}

.barra1  {
background-color: #00FF0D;
}
.filarosa {
background-color: #FF0EF6;
}

.naranja1 {
background-color: #FF8600;
}

.azul {
background-color: #0A00F7;
}
.tex {
	color: #FFFFFF;
}
.blacki {
	background-color: #464646;
}
.pad {
	padding-top: 2px;
}