@charset "utf-8";

body {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	position: relative;
}

h1 h2 h3 h4 h5 h6{
	color: #1d273b;
	font-weight: 300;
}
.contenedor {
	width: 100%;
	max-width: 900px;
	margin: auto;
	overflow: hidden;
}

.contenedor1 {
	width: 90%;
	max-width: 600px;
	margin: auto;
	overflow: hidden;
	padding: 60px 0;
}

h1 {
	font-size: 50px;
	
}

/* Header */

header::before {
	content: "";
	display: block;
	margin-bottom: 80px;
}

nav {
	width: 100%;
	height: 80px;
	background: #FFFFFF;
	border-bottom: 1px solid transparent;
	box-shadow: 1px 1px 10px 0;
	position: fixed;
	top: 0;
	z-index: 100;
	transition: ease-in-out 0.5s;
}

.nav {
	display: flex;
	justify-content: space-between;
	height: 80px;
	width: 100%;
	align-items: center;
}
.nav .logo {
	height: 80px;
	
}

.nav .logo .imgg {
	height: 100%;
	background: #FFFFFF;
}

.enlaces-header {
	font-weight: 300;
}

.nav .enlaces-header a{
	color: #5D6678;
	text-decoration: none;
	margin-left: 20px;
}

.hamburger {
	width: 80px;
	height: 80px;
	text-align: center;
	display: none;
	z-index: 100;
	cursor: pointer;
	transition: color 0.5s ease-in;
}
.hamburger > i {
	font-size: 25px;
	line-height: 80px;
}

.contenido-header {
	width: 100%;
	height: 900px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.contenido-header>img{
	width: 550px;
	animation: ease-in animate 1s
	
}
  
@keyframes animate{
	0%{
		transform: scale(0);
	}100%{
		transform: scale(1);
	}
}
.textos-header {
	margin: 0 0 0 30px;
}
.contenido-header p{
	font-weight: 100;
	margin-top: 14px;
	color: #5d6678;
}
.contenido-header a{
	margin: 28px 0 0 0;
	width: 130px;
	display: inline-block;
	background: #6C62FC;
	text-align: center;
	color: #FFFFFF;
	padding: 12px 0;
	text-decoration: none;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 14px;
	border-radius: 5px;
	box-shadow: 0 8px 32px;
	
}
.Titulo{
	font-size: 50px;
	
}

/* About us */

.about-us{
	background: #f2f2f2;
}
.contenedor-articulo {
	display: flex;
	flex-wrap: wrap;
	margin-top: 60px;
	justify-content: space-around;
	
}
.articulo {
	width: 29%;
	background: #FFFFFF;
	margin-bottom: 30px;
	border-radius: 10px;
	padding: 45px 30px 60px 30px;
	transition: 0.5s;
}
.articulo:hover{
	box-shadow: 0 4px 10px;
}
.articulo>i{
	font-size: 30px;
	color: #FFFFFF;
	background: #887AD6;
	display: inline-block;
	width: 70px;
	height: 70px;
	text-align: center;
	padding-top: 20px;
	border-radius: 50%;
	box-shadow: 0 8px 32px;
}
.articulo>h3{
	font-size: 24px;
	margin-top: 30px;
	
}
.articulo>p{
	font-weight: 100;
	color: #5d6678;
	margin-top: 15px;
	padding-bottom: 20px;
}
.articulo>a{
	font-weight: 400;
	color: #5d6678;
	text-decoration: none;
}
.articulo>a:hover{
	color: #6C62FC;
	transition: color .5s;
}
/* Questions */

.questions {
	width: 100%;
	height: 900px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.questions>img{
	width: 550px;
	
}


.textos-questions{
	margin: 0 0 0 30px;
}
.textos-questions p{
	font-weight: 100;
	margin-top: 14px;
	color: #5d6678;
}
.textos-questions a{
	margin: 28px 0 0 0;
	width: 130px;
	display: inline-block;
	background: #6C62FC;
	text-align: center;
	color: #FFFFFF;
	padding: 12px 0;
	text-decoration: none;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 14px;
	border-radius: 5px;
	box-shadow: 0 8px 32px;
}
.results {
	background: #6C62FC;
	padding-top: 30px;
	width: 100%;
	height: 900px;
}
.conten-results {
	display: flex;
	justify-content: space-evenly;
}
.numbers{
	width: 60%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.numbers .number {
	width: 45%;
	background: #6159E6;
	color: #FFFFFF;
	border-radius: 10px;
	padding: 40px 35px;
	margin-bottom: 20px;
}
.numbers .number h4 {
	color: #FFFFFF;
	font-size: 50px;
	font-weight: 500;
	margin-bottom: 20px;
}
.numbers .number p{
	color: #F2F5FC;
	font-weight: 300;
}
.results-text {
	width: 37%;
}
.results-text h4 {
	color: #FFFFFF;
		font-size: 40px;
	text-align: center;
	
}
.results-text p {
	color: #FFFFFF;
		font-weight: 300;
	margin: 20px 0;
	text-align:justify;
	
}
.results-text>a{
	color: #FFFFFF;
	text-decoration: none;
	display: inline-block;
	border: 1px solid #FFFFFF;
	padding: 10px 0;
	width: 120px;
	text-align: center;
	border-radius: 5px;
}

/* Services */

.services{
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 900px;
	
}
.services>img{
	width: 500px;
}
.box-skills{
	margin: 30px 30px 0 0;
}
.box-skills h4{
	font-size: 24px;
	background: #6C62FC;
	width: 350px;
	border-radius: 6px;
	padding: 10px 0 10px 15px;
	margin-bottom: 10px; 
	color: #FFFFFF;
	}
.box-skills i{
	color: #FFFFFF;
	font-size: 20px;
}
.cosa {
background: #6C62FC;
width: 20%;
height: 30px;
margin: 2px;
	color: #FFFFFF;
}

.cosa:hover{
width: 100%;
}
.unop {
transition: width 2s linear;
	color: #FFFFFF;
}
.dop {
transition: width 2s ease;
	color: #FFFFFF;
}
.trep {
transition: width 2s ease-in;
	color: #FFFFFF;
}
.cuatrop {
transition: width 2s ease-out;
	color: #FFFFFF;
}
.cincop {
transition: width 2s ease-in-out;
	color: #FFFFFF;
}

/* Footer */

footer {background: #f2f2f2;
	padding: 60px 0;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin: auto;
	
}
.partFooter{
	width: 20%;
	text-align: center;
}
.partFooter h4{
	color: #1D273B;
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 30px;
	
}
.partFooter>img{
	width: 70%;
}
.partFooter a{
	display: block;
	text-decoration: none;
	color: #6C62FC;
	font-weight: 300;
	transition: color .3s ease-in-out;
	margin-bottom: 10px;
}
.partFooter a:hover{
	color: #6C62FC;
}
.social-media i {
	font-size: 20px;
	display: inline-block;
	color: #6C62FC;
	border: 1px sold #6C62FC;
	border-radius: 50%;
	width: 38px;
	height: 38px;
	line-height: 36px;
	cursor: pointer;
	margin-top: 20px;
	text-align: center;
	transition: all ease-in-out .3s;
	margin-right: 5px;
	
	}
.social-media i:hover{
	color: #FFFFFF;
	background-color: #A353F2;
	border-color: #A353F2;
	
}

#msg {display:none; }
.imggg {
	width: 300px;
	justify-content: center;
}
.bg-color{
	background: #6C62FC;
}

.item ul {
display:none;
}
.caja1.visible{
	background-color: #6C62FC;
	color: white!important;
	width: 100%!important;
	border-color: rgba(255,255,255,1.00)!important;
	border-style: solid!important;
	border-radius:30%;
}
.caja2.visible{
	background-color: #6C62FC;
	color: white!important;
	width: 100%!important;
	border-color: rgba(255,255,255,1.00)!important;
	border-style: solid!important;
	border-radius:30%;
}
.caja3.visible{
	background-color: #6C62FC;
	color: white!important;
	width: 100%!important;
	border-color: rgba(255,255,255,1.00)!important;
	border-style: solid!important;
	border-radius:30%;
}
.caja4.visible{
	background-color: #6C62FC;
	color: white!important;
	width: 100%!important;
	border-color: rgba(255,255,255,1.00)!important;
	border-style: solid!important;
	border-radius:30%;
}
.caja5.visible{
	background-color: #6C62FC;
	color: white!important;
	width: 100%!important;
	border-color: rgba(255,255,255,1.00)!important;
	border-style: solid!important;
	border-radius:30%;
}


