h1 {
    text-align: center;
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    font-size: xx-large;
    color: #C25125;
}
a {
    color: #C25125;
}
#main {
    margin-left: 200px;
    margin-right: 200px;
}
#main2 {
    margin-left: 200px;
    margin-right: 200px;
}
#main h2 {
    color: #C25125;
}
#res2 p {
    font-size: x-large;
    text-align: center;
    color: #C25025;
}
#main #resaltado {
    margin-left: 150px;
    margin-right: 150px;
    color: #C25125;
    font-style: oblique;
    font-size: x-large;
}
#main #res1 p {
    color: #C25125;
    font-size: x-large;
}
#res1 p {
    color: #C25125;
    font-size: x-large;
    text-align: center;
}
p {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
title {
    width: 10px;
    height: 10px;
}
#title {
    width: 0%;
    height: 0%;
    font-size: large;
}
#img {
    width: 0%;
    border: 12px double #C25125;
}
#main #imgre {
    text-align: center;
}
#res3 p {
    color: #C25025;
    font-size: x-large;
    text-align: center;
}
#res4 p {
    color: #C25025;
    font-size: x-large;
    text-align: center;
}
