.bg-info {
background-color: #000000 !important;
}
.column {
	
	padding-right: 250px;
	padding-left: 250px;
}
.imagen {
	padding-left: 80px;
	margin-right: 0px;
	margin-left: 21%;

}
.texto {
	text-align: justify;
}
.titlee {
	padding-left: 608px;
	padding-right: 250px;
}
.vid {
	padding-right: 250px;
	padding-left: 620px;
	width: 
}